<div>
<div class="header-wrap">
    <h3>About Me</h3>
</div>
<hr>
    <div class="about-body">
        <div class="header">
            <h2>Hello Everyone <span>Welcome to my 🌎</span></h2>
            <p>So as you know my name let me tell you something you don't know I like South Indian Movies more than
                Bollywood or Hindi Movies, I am a guy who always likes to learn new skills or try out any new activity.
                Currently I am a Frontend Developer but i am also learning Backend and I hope I will soon acquire my Backend skills.
            </p>
            <span><i>Thank you ❤</i></span><br>
        </div>
        <div>
            <img class="background" src="../../assets/images/back.png" height="450px" width="450px">
        </div>
    </div>
    <!-- <div class="footer">
        <p>Copyright © 2022 Dipankar Borah</p>
    </div> -->
</div>