.container {
    height: 600px;
    width: 1300px;
    margin: auto;
    margin-top: 21px;
    background: rgb(243 243 243);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}