<div class="header-wrap">
    <h3>Services</h3>
</div>
<hr>
<h2>Why People <span>Believe Us</span></h2>
<p>Because we always provide <span>more and better service</span> than expected by you.!</p>
<div class="cards">
    <div class="card">
        <img src="../../assets/images/web-dev.png" alt="Avatar" style="width:100%" height="50%">
        <div class="container">
          <h4><b>Website</b></h4>
          <p>Develop Wesbite for your Company/Bussiness/Small Scale Shops, etc .</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/web-app.jpeg" alt="Avatar" style="width:100%" height="50%">
        <div class="container">
          <h4><b>Web Application</b></h4>
          <p>Develop any Web Application you want at a quite cheaper price.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/web-services.jpg" alt="Avatar" style="width:100%" height="50%">
        <div class="container">
          <h4><b>Other Web Services</b></h4>
          <p>Avail any other web services.</p>
        </div>
      </div>
</div>