<div class="container-home-body">
    <div class="header">
        <h3>Hello,</h3>
        <h1>This is <span>Dipankar </span> Borah</h1>
        <p>I am a <span>Web Developer</span> and very passionate to learn new skills, Currently working for Nexsway PVT Ltd.
        </p>
        <h3>Follow me on ➡️</h3>
        <a href="https://www.facebook.com/dipankar.borah.777701/" class="fa fa-facebook"></a>
        <a href="https://https://www.linkedin.com/dipankar-borah-6b100321a" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/_boss_dipu/" class="fa fa-instagram"></a>
    </div>
    <div>
        <img class="model" src ="../../assets/images/model.png" height="520px" width="300px">
    </div>
</div>